/* Page styles */

body {
  background-color: #000000;
  color: aliceblue;
}

/* Header */

header img {
  max-width: 120px;
}

a, a:hover {
  text-decoration: none;
  color: aliceblue;
}


/* Content */

.main {
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #a00b0b;
}

#search{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#poke-name{
  font-weight: bold;
}

#poke-img{
  width: 450px;
  height: 450px;
}
.card{
  height: 170px;
  width: 450px;
  overflow-y: scroll;
  color: black;
  
}
p{
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  font-weight: lighter;
}
li{
  font-size: 15px;
  font-weight: lighter;
}

@media (min-width: 576px) {
  .main {
    padding: 36px 42px;
  }
}

@media (max-width: 880px) {
  .main {
    flex-direction: column;
  }
}

section{
  font-weight: bold;
  margin: 40px 0 24px;
}


address{
  text-align: center;
}
